@page "/adminCategoriesOverview"

<h3>Каталог</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="AddNewCategory" class="mr-1">Добавить категорию</button>
</div>

@if (Categories == null)
{
    <p>
        <em>Загрузка ...</em>
    </p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Наименование</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Categories)
        {
            <tr>
                <td class="product-name">@category.Name </td>
                <td>
                    <a href="@($"editProduct/{category.Id.ToString()}")" class="purchase-button btn">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}