@page "/adminProductsOverview"

<h3>Каталог</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="AddNewProduct" class="mr-1">Добавить товар</button>
</div>

@if (Products == null)
{
    <p>
        <em>Загрузка ...</em>
    </p>
}
else
{
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Наименование</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Products)
        {
            <tr>
                <td>
                    <img class="product-image" src="@product.PictureUri"/>
                </td>
                <td class="product-name">@product.Name </td>
                <td class="product-price">@product.Price </td>
                <td>
                    <a href="@($"editProduct/{product.Id.ToString()}")" class="purchase-button btn">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}